<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Project Ruby on Rails</h1>
        </div>
    </div>
<% else %>
<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Rails base </h1>
        <p>site with devise and active admin.</p>
        <%= link_to "Learn more ", "#", class: "btn btn-primary btn-lg" %> 
            
        <% end %>
    </div>

