<div class="container">
  <form>

  <body class="text-center">


      <div class="form-row">
      <div class="form-group col-md-3">
    <label>First Name</label>
      <input type="string" class="form-control" id=":input:firstname" placeholder="John">
    </div>

    
    <div class="form-group col-md-3">
      <label>Last Name</label>
      <input type="string" class="form-control" id="inputLastName" placeholder="Smith">
      </div>
      <div class="form-group col-md-3">
      <label>Perfered Name</label>
      <input type="string" class="form-control" id="inputperferedname" placeholder="need to add to table">
      </div>
    </div>
    

    <div class="form-row">
      <div class="form-group col-md-3">
      <label>Date of Birth</label>
      <input type="Date" class="form-control" id="inputday_of_birth" placeholder="04/04/20">
    </div>

    <div class="form-group col-md-3">
      <label>Gender</label>
      <select id="inputReports" class="form-control">
      <option selected>Choose...</option>
      <option>Male</option>
      <option>Female</option>
      <option>Perfer not to answer</option>
      </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
      <label>Personal Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>

    <div class="form-group col-md-3">
      <label>Work Email</label>
      <input type="string" class="form-control" id="inputPassword4" placeholder="@rubicor.com.au">
      </div>
    </div>
    

    <div class="form-row">
    <div class="form-group col-md-3">
      <label>Work Phone</label>
      <input type="string" class="form-control" id="inputMobile" placeholder="+61 0498 149 999">
    </div>
  

    <div class="form-group col-md-3">
      <label>Mobile Phone</label>
      <input type="string" class="form-control" id="inputMobile" placeholder="+61 0498 149 999">
    </div>
  </div>

    <div class="form-row col-md-3">
      <label>Home Phone</label>
      <input type="string" class="form-control" id="inputHomePhone" placeholder="+61 07 000 000">
      </div>
    


  <div class="form-row col-md-3">
    <label>Address</label>
    <input type="string" class="form-control" id="inputAddress" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row col-md-9">
    <label>Address 2</label>
    <input type="string" class="form-control" id="inputAddress2" placeholder="1234 Main St">
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label>City</label>
      <input type="string" class="form-control" id="inputCity">
    </div>

    <div class="form-group col-md-2">
      <label>Postcode</label>
      <input type="string" class="form-control" id="inputPostcode">
    </div>

    <div class="form-group col-md-2">
      <label>State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>QLD</option>
        <option>NSW</option>
        <option>ACT</option>
        <option>VIC</option>
        <option>SA</option>
        <option>WA</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <label>Country</label>
      <select id="inputCounrty" class="form-control">
        <option selected>Choose...</option>
        <option>Australia</option>
        <option>New Zealand</option>
        <option>Singapore</option>
        <option>Hong Kong</option>
        <option>Other</option>
      </select>
    </div>
 
<!-- work details  -->
    <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputDepartment">Department</label>
      <select id="inputDepartment" class="form-control">
        <option selected>Choose...</option>
        <option>Rubicor Group</option>
        <option>Xpand</option>
        <option>Rubicor Workforce</option>
        <option>Rubicor Professional</option>
        <option>Rubicor Government</option>
        <option>Rubicor Technical</option>
        <option>GR/N</option>
        </select>
    </div>

  <div class="form-group col-md-3">
      <label for="inputOffice">Office</label>
      <select id="inputOffice" class="form-control">
        <option selected>Choose...</option>
        <option>Pitt St</option>
        <option>Queen St</option>
        <option>Wacol</option>
        <option>Canberra</option>
        <option>Adelaide</option>
        <option>Mackay</option>
        <option>Collins St</option>
      </select>
    </div>
  

    <div class="form-group col-md-3">
      <label for="inputReports">Reports To</label>
      <select id="inputReports" class="form-control">
        <option selected>Choose...</option>
            <option>add picker</option>
              <option>Adelaide</option>
            </select>
    </div>  
  


    <div class="form-group col-md-3">
      <label for="inputPD">Position Title</label>
      <select id="inputPD" class="form-control">
        <option selected>Choose...</option>
        <option>Picker?</option>
      </select>
    </div>
    
    
    <div class="form-group col-md-3">
      <label>Start Date</label>
      <input type="date" class="form-control" id="input????" placeholder="need to add to table">
    </div>
  <div class="form-group col-md-3">
      <label>New Field</label>
      <input type="string" class="form-control" id="input????" placeholder="enter text here">
    </div>
  
  <div class="form-group col-md-3">
      <label>New Field</label>
      <input type="string" class="form-control" id="input????" placeholder="enter text here">
    </div>
    <div class="form-group col-md-3">
      <label>New Field</label>
      <input type="string" class="form-control" id="input????" placeholder="enter text here">
    </div>
    <div class="form-group col-md-3">
      <label>New Field</label>
      <input type="string" class="form-control" id="input????" placeholder="enter text here">
    </div>
    <div class="form-group col-md-3">
      <label>New Field</label>
      <input type="string" class="form-control" id="input????" placeholder="enter text here">
    </div>
    <div class="form-group col-md-3">
      <label>New Field</label>
      <input type="string" class="form-control" id="input????" placeholder="enter text here">
    </div>
    <div class="form-group col-md-3">
      <label>New Field</label>
      <input type="string" class="form-control" id="input????" placeholder="enter text here">
    </div>
    <div class="form-group col-md-3">
      <label>New Field</label>
      <input type="string" class="form-control" id="input????" placeholder="enter text here">
    </div>-
  </div>
  </form>
  <center><button type="submit" class="btn btn-primary">Submit</button><center>
</body>


